<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="./public/css/reset.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>

   
    <body>
        <!-- Title of site/logged in profile information goes here -->
        <header class="level-left">
            <h1 class="title">MilBook</h1>
            <!-- Profile picture code here -->
            <!-- Profile information when logged in below -->
            <div class="card">
                <div class="card-content is-flex-direction-column">
                    Name: John Doe
                    Animal: Dog
                    Age: 20
                    Points: 0 
                </div>
            </div>

        </header>
        <!-- Make a post area -->
        <div class="card">
            <div class="card-content is-flex-direction-row">
                <form id="post-form">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" id="post-text" placeholder="Type your post here" rows="4" required>
                                Type your post here!
                                </textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- Where posts are displayed -->
        <div class="card">
            <div class="card-content is-flex-direction-column">
                <!-- Posts displayed here -->
            </div>
            
        </div>
    </body>

    

</html>